html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background-color: #fbfcfd; 
    color: rgb(245, 246, 247);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#score {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    font-weight: 900;
    color: #f80202; 
}

#introduction {
    width: 220px;
    height: 150px;
    position: absolute;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    transition: opacity 2s;
    color: #fc0303;
}

#restart {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    color: white;
    background-color: #fc2306;
    border: none;
    font-weight: 700;
    font-size: 1.2em;
    display: none;
    cursor: pointer;
}

#perfect {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
    color: rgb(248, 248, 246); 
    font-size: 1.5em;
    font-weight: bold;
}

#gameOver {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 2.5em;
    color: rgb(247, 242, 242);
    font-weight: bold;
    display: none;
}
